BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
NamespaceIndentation: All
BreakBeforeBraces: Allman
PointerAlignment: Right
IndentPPDirectives: AfterHash

# Function argument breaking
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
BreakAfterReturnType: AllDefinitions
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
