[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.gi
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
